﻿@using System.Web.WebPages
@model List<TestUI.Models.Prices>
@{
    ViewBag.Title = "Index";
    int it;
    int count = 0;
    if (Model != null)
    {
        count = Model.Count();
    }
    string pr = "price";
    string cn = "count";
    string prc = "";
    string cnt = "";
}
<script type="text/javascript">
//<![CDATA[
    function findId() {
        var textmy = document.getElementById('find').value;
        var dummyurl = '@Url.Action("FindId", new {findString = "abc"})';
        var path = dummyurl.replace("abc", textmy);
        location.href = path;
    }
    function findName() {
        var textmy = document.getElementById('find').value;
        var dummyurl = '@Url.Action("FindName", new {findString = "abc"})';
        var path = dummyurl.replace("abc", textmy);
        location.href = path;
    }
    function findPrice() {
        var textmy = document.getElementById('find').value;
        var dummyurl = '@Url.Action("FindPrice", new {findString = "abc"})';
        var path = dummyurl.replace("abc", textmy);
        location.href = path;
    }

    function vigruzka() {
        var textmy = document.getElementById('vigruz').value;
        var dummyurl = '@Url.Action("CreateXml", new {findString = "abc"})';
        var path = dummyurl.replace("abc", textmy);
        location.href = path;
    }
    function createCost() {
        var pr = 'price';
        var cn = 'count';
        var idPrice = "";
        var idCount = "";
        var i;
        var sum = 0;
        var count = document.getElementById('countModel').innerHTML;
        for( i=0; i<count;i++)
        {
            idPrice = pr + i;
            idCount = cn + i;
            var priceText = document.getElementById(idPrice).innerHTML;
            var countText = document.getElementById(idCount).value;
            sum += priceText * countText;
        }
            $("#sum").text("Sum = " + sum);
    }
</script>
<h2>Index</h2>
<input id="find"/>
<div>
    <button onclick='return findId()' type="submit">Поиск по коду</button>
    <button onclick='return findName()' type="submit">Поиск по имени</button>
    <button onclick='return findPrice()' type="submit">Поиск по цене</button>
</div>
<div>
    <label>Найдено результатов по запросу:</label><label id="countModel">@count</label>
</div>
<div>
    @if (Model != null)
    {
        using (Html.BeginForm("Index", "Home", null, FormMethod.Post))
        {
            <table class="table table-responsive table-hover table-condensed">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                @for (it = 0; it < Model.Count(); it++)
                {
                    prc = pr + it;
                    cnt = cn + it;
                    <tr>
                        <td>
                            @Html.DisplayFor(c => Model[it].Id)
                            @Html.HiddenFor(c => Model[it].Chosen)
                            @Html.HiddenFor(c => Model[it].Id)
                            @Html.HiddenFor(c => Model[it].Price)
                            @Html.HiddenFor(c => Model[it].Name)
                        </td>
                        <td>
                            @Html.DisplayFor(c => Model[it].Name)
                        </td>
                        <td>

                            <label id=@prc>@Model[it].Price</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(c => Model[it].Count, new {@id = cnt, @onchange = "return createCost();"})
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Save</button>
        }
    }
</div>
<div>
    <label id="sum"></label>
</div>
<div>
    <input id="vigruz" /><button onclick='return vigruzka()' type="submit">Выгрузка</button>
</div>
                     